@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

body {
  font-family: 'Droid Serif','Apple SD Gothic Neo', sans-serif;
  line-height: 1.5;
}

h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz', 'Hanna', 'Apple SD Gothic Neo';
  font-weight: normal;
}

h1 strong {
  font-size: 2em;
}

blockquote {
  background-color: #eee;
  padding: 0.2rem 0.5rem;
}

pre code, blockquote {
  border-radius: 0.3rem;
}

.remark-code, .remark-inline-code {
  font-family: 'Roboto Mono', 'Ubuntu Mono';
}

.inverse {
  background: #272822;
  color: #777872;
  text-shadow: 0 0 20px #333;
}

.inverse h1, .inverse h2 {
  color: #f3f3f3;
  line-height: 0.8em;
  border: none;
}

.pull-left {
  float: left;
}

.full-width { width: 100%; }

.full-height img {
  max-width: 100%;
  height: 70vh;
}

.full-width img { width: 100%; }

.half-width { width: 50%; float: left; }

.footnote { position: absolute; bottom: 3rem; }

a:link,
a:visited {
  color: black;
}
